<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>University Of Kent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Provision Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- Custom Theme files -->
    <link href="/static/new_assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/new_assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/static/new_assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //online-fonts -->

    <style>
        /* CSS for changing link color to red */
        .menu a {
            color: black !important;
        }
        nav.nav_w3pvt {
            background-color: #1b85b8; /* Change the navbar background color */
            color: white; /* Change the text color for better contrast */
            width: 100% !important; /* Make the navbar full width */
            max-width: none !important; /* Remove any max-width constraints */
            padding-left: 15px; /* Add left padding as necessary */
            padding-right: 15px; /* Add right padding as necessary */
            box-sizing: border-box; /* Ensure padding does not affect the final width */
        }
        nav.nav_w3pvt a, nav.nav_w3pvt a.drop-text, nav.nav_w3pvt label.toggle {
            color: black !important; /* Use !important to override other styles if necessary */
        }
        /* Style for the navbar icons to be white */
        nav.nav_w3pvt .fa, nav.nav_w3pvt .fa-angle-down, nav.nav_w3pvt .fa-bars {
            color: white !important; /* Ensure icons are visible against the black background */
        }
        
    </style>
        
        
    </style>
</head>

<body>
    <!-- main -->
    <div class="" id="home">
        <!-- header -->

        <header>
            
                <div class="container-fluid">
                    <!-- nav -->
                    <nav class="py-md-12 py-3 d-lg-flex nav_w3pvt">
                        <div id="logo">
                            <h1><a href="index.html">University Of Kent</a></h1>
                        </div>
                        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-lg-3 ml-auto">
                            <!-- <li><a href="/login">Login</a></li> -->


                            <!-- <li><a href="#exp">Experience</a></li> -->
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Courses <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Courses <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/admin_add_department" class="drop-text">Department</a></li>
                                    <li><a href="/Addcourse" class="drop-text">Courses</a></li>
                                    <li><a href="/Addbatch" class="drop-text">Batch</a></li>
                                    <li><a href="/Addsubject" class="drop-text">Subjects</a></li>
                                   

                                    <!-- <li><a href="/result_generation" class="drop-text">Result</a></li> -->

                                </ul>
                            </li>




                            <li>

                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Users <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Users <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/view_verifier" class="drop-text">Verifiers</a></li>
                                    <li><a href="/admin_add_subadmin" class="drop-text">Subadmin</a></li>


                                </ul>
                            </li>

                            <li><a href="/Addcollege">Colleges</a></li>

                            <!-- <li>
                               
                                <label for="drop-2" class="toggle">Colleges <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Colleges <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/Addcollege" class="drop-text">Colleges</a></li>
                                    <li><a href="/admin_view_colleges_id" class="drop-text">View</a></li>


                                </ul>
                            </li> -->
                            <li><a href="/admin_view_colleges_id">Students</a></li>

                            <!-- <li>
                               
                                <label for="drop-2" class="toggle">Students <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Students <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/admin_view_colleges_id" class="drop-text">View</a></li>


                                </ul>
                            </li> -->
                            <li>

                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Notifications <span class="fa fa-angle-down" aria-hidden="true"></span>
                                </label>
                                <a href="#">Notifications <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="/Addnotif" class="drop-text">Notifications</a></li>
                                    <li><a href="/AddCallinternal" class="drop-text">Internal Call</a></li>
                                    <li><a href="/viewuser_complaint" class="drop-text">Complaints</a></li>

                                    <li><a href="/admin_view_reports" class="drop-text">Reports</a></li>


                                </ul>
                            </li>

                            <li><a href="/result_generation" >Result</a></li>
                            <li><a href="/logout">Logout</a></li>




                            <!-- <li>
                            <p class="w3pvt-phone">
                                <span class="fa fa-phone mr-2"></span>+1 000263676
                            </p>
                        </li> -->
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </div>
        </header>

        <!-- //header -->
<div class="container">
  <div  class="row">
    <div class="col-lg-12">
      
      <br><br>      <br><br>      <br><br>      <br><br>