{% include 'sub_header.html' %}

<style>
    .container {
        background-color: transparent; /* Set background color to transparent */
    }
    
    .content-box {
        background-color: #ffffff; /* Set background color of the box */
        border-radius: 10px; /* Set border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
        padding: 20px; /* Add padding for spacing */
    }

    th, td {
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<h2 class="text-center fs-6 text-dark" style="font-weight:bold">Add external marks</h2>

<form id="form1" name="form1" method="post" action="/Addxternal1">
    <div align="center">
        <p>&nbsp;</p>
        <table width="328" height="236">
            <tr>
                <td><strong>College</strong></td>
                <td>
                    <select name="college" id="clg" required class="form-control">
                        {% for a in data2 %}
                        <option value="{{ a[0] }}">{{ a[1] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Course</strong></td>
                <td>
                    <select name="course" id="crs" required class="form-control">
                        <option>--select course--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Batch</strong></td>
                <td>
                    <select name="batch" id="bid" required class="form-control">
                        <option>--select batch--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Semester</strong></td>
                <td>
                    <select name="semester" id="sem" required class="form-control">
                        <option>--select--</option>
                        <option>1st semester</option>
                        <option value="2nd semester">2nd semester</option>
                        <option value="3rd semester">3rd semester</option>
                        <option value="4th semester">4th semester</option>
                        <option value="5th semester">5th semester</option>
                        <option value="6th semester">6th semester</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Subject</strong></td>
                <td>
                    <select name="subject" id="subjectid" class="form-control">
                        <option>--select--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
</form>

    

<script src="static/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#crs").on('change', function(){
            var courseid = $(this).val()
            $("#bid").text("")
            $.getJSON('/selectbatch',{
                crsid:courseid
            },function(data){
                var len=data.length;

                for(var i=0;i<len;i++)
                {
                    var batchid=data[i]['id']
                    var batch=data[i]['batch']
                    $("#bid").append("<option value="+batchid+">"+batch+"</option>")
                }
            });
        });

        $("#sem").on('change', function () {
            var sem=$("#sem").val()
            var courseid=$("#crs").val()
            var batchid=$("#bid").val()
            $("#subjectid").text("")
            $.getJSON('/selectsubject',{
                crsid:courseid,
                bid:batchid,
                sem:sem
            },function(data){
                var len=data.length;

                for(var i=0;i<len;i++)
                {
                    var subjectid1=data[i]['subjectid']
                    var subject1=data[i]['subject']
                    $("#subjectid").append("<option value="+subjectid1+">"+subject1+"</option>")
                }
            });
        });

        $("#clg").on('change', function () {
            var collegeid = $(this).val()
            $("#crs").text("")
            $.getJSON('/selectcourse', {
                clgid: collegeid
            }, function (data) {
                var len = data.length;

                for (var i = 0; i < len; i++) {
                    var courseid = data[i]['crsid']
                    var course = data[i]['crs']
                    $("#crs").append("<option value =" + courseid + ">" + course + "</option>")
                }
            });
        });
    });
</script>
<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br>
{% include 'footer.html' %}
