{% extends "college_header.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">

<table>
  <tr>
    <td >width</td>
    <td >{{data0}}</td>
  </tr>
  <tr>
    <td>height</td>
    <td>{{data1}}</td>
  </tr>
  <tr>
    <td><pre>eyeLeftOuter_x</pre></td>
    <td>{{data2}}</td>
  </tr>
  <tr>
    <td><pre>eyeLeftOuter_y</pre></td>
    <td>{{data3}}</td>
  </tr>
  <tr>
    <td><pre>eyeRightOuter_x</pre></td>
    <td>{{data4}}</td>
  </tr>
  <tr>
    <td><pre>eyeRightOuter_y</pre></td>
    <td>{{data5}}</td>
  </tr>
  <tr>
    <td><pre>eyeLeftInner_x</pre></td>
    <td>{{data6}}</td>
  </tr>
  <tr>
    <td><pre>eyeLeftInner_y</pre></td>
    <td>{{data7}}</td>
  </tr>
  <tr>
    <td><pre>eyeRightInner_x</pre></td>
    <td>{{data8}}</td>
  </tr>
  <tr>
    <td><pre>eyeRightInner_y</pre></td>
    <td>{{data9}}</td>
  </tr>
  <tr>
    <td></td>
    <td><img src="{{data10}}" height="50" width="50" />
    
    
    
    
    
    </td>
  </tr>  
</table>
    </form>
{% endblock %}