{% include 'staff_header.html' %}


  <form id="form1" name="form1" method="post" action="/staffvwnotif_post"><center>
  <h2 class="text-center fs-6 text-dark"  style="font-weight:bold">Notification</h2><br>


  <p>&nbsp;</p>
   <table class="table table-bordered table-striped table-hover">
    <tr>
      <td width="96"><strong>
        <input name="notification" type="radio" value="normal" required/>
      Normal</strong></td>
      <td width="135"><strong>
        <input name="notification" type="radio" value="internal" required/>
      Internal Mark</strong></td>
      <td width="63"><input type="submit" name="Submit2" value="Ok" class="btn btn-primary"/></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th width="68" scope="col">callid</th> 
      <th width="68" scope="col">Message</th>
      <th width="36" scope="col">Date</th>
    </tr>
	{%for i in data%}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i[1]}}</td>
      <td>{{i[3]}}</td>



    </tr>
	{%endfor%}
  </table></center>
</form>
<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br>
{% include 'footer.html' %}

