{% include 'sub_header.html' %}


<body>
<form action="/subadmin_change_password_post" method="post">
  <h2 class="text-center fs-6 text-dark"  style="font-weight:bold">Change Password</h2><br>


     <table class="table table-bordered table-striped table-hover"><tr>

      </tr>

  <tr>
    <th>Old password</th>
    <td><input type="password" name="textfield" id="textfield"class="form-control" required /></td>
  </tr>
  <tr>
    <th>New password</th>
    <td><input type="password" name="textfield2" id="textfield2" class="form-control" required /></td>
  </tr>
  <tr>
    <th>Re-enter new password</th>
    <td><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3"class="form-control" required /></td>
  </tr>
  <tr>
    <td height="117" colspan="2"><div align="center">
      <input type="submit" name="button" id="button" value="change password" class="btn btn-success"/>
    </div></td>
    </tr>
</table>
</form>
</body>
<br><br><br><br>
<br><br><br><br>
{% include 'footer.html' %}


