

{%include 'sub_header.html' %}

<form method="post" action="/Viewstudentdata">
  <h2 class="text-center fs-6 text-dark"  style="font-weight:bold">View Students</h2><br>

  <div align="center">
    <p>&nbsp;</p>

     <table class="table table-bordered table-striped table-hover">


      <tr>
          <th>Sl No</th>
        <th>Name</th>
          <th>Register No</th>
          <th>Gender</th>
		  <th>DOB</th>
              
		  <th>Place</th>
			  
		  <th>Guardian</th>

      </tr>
      {% for i in data %}
      <tr>
<td>{{ loop.index }}</td>
		   <td><img src="/static/image/{{ i[19] }}" style="width: 90px;height: 90px"/>
               <br>
               {{i[2]}}</td>
               <td>{{i[17]}}</td>
		   <td>{{i[3]}}</td>
			  
		   <td>{{i[4]}}</td>
			  
           <td>{{i[6]}}</td>
            <td>{{i[11]}}</td>
{#            <td>{{i[21]}}</td>#}
			  
{#		   <td><a href="/Viewmore/{{i[0]}}">view more</a></td>#}
{#           <td><a href="/deletestudent/{{i[0]}}">delete</a></td>#}
{#           <td><a href="/updatestudent/{{i[0]}}">edit</a></td>#}
      </tr>
      {% endfor %}
    </table>
  </div>
</form>

<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br><br><br><br><br>
<br><br>
<br><br>
{%include 'footer.html' %}
